#container2{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}

h1{
    margin: auto;
}

.left{
    display: flex;
    flex-direction: column;
}

.right{
    display: flex;
    flex-direction: column;
}